/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/*
body{
    background-color: #540B51;
}
.nav-bar{
    display: flex;
    width: 100%;
}

.nav-bar > ul {
    display: none;
}

.nav-bar > img{
    width: 220px;
    background-color: ;
}

nav {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.icon-nav-bar{
    display: flex;
    height: 40px;
}

header{
    color: white;
    margin-bottom: 24px;
}

.title-header{
    font-size: 64px;
    text-align: center;
}

.subtitle-header{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.button{
    display: flex;
    flex-direction: column;
}

.button-google{
    background-color: white;
    padding: 24px;
    margin: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #540B51;
    border-radius: 4px;
    border-color: white;
}

.button-email{
    background-color:#4285F4;
    padding: 8px;
    margin: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    border-color: #4285F4;
    
}

.icon-google{
    background-color: white;
    width: 40px;
}

.title-companies{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 24px;
}

.logo-companies{
    display: flex;
    flex-wrap: wrap;
}

.logo-companies > img{
    width: 15em;
    height: 10em;
    
}

.contain-companies{
    background-color: white;
    width: 100%;
    padding: 24px;
}

.data{
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 24px;

}

.data > ul > li{
    list-style-type: none;
    
}

.data > h3{
    color: #540B51;
    font-size: 40px;
}

.data > p{
    font-weight: 400;
    font-size: 24px;
}

.data>ul>li>p{
    color: #000000;
    font-weight: bold;
}

.data>ul>li>p>span{
    color:#540B51;
    font-size: 40px;
}

.final-cta{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    padding: 12px;
}

.final-cta > h3 {
    text-align: center;
    color: white;
    font-size: 40px;
}

.button-free{
    background-color: white;
    padding: 24px;
    margin: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #540B51;
    border-radius: 4px;
    border-color: white;
}

.button-sales{

    background-color: #540B51;
    padding: 24px;
    margin: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    border-color:white;
}*/


body {
    max-width: 1500px;
    margin: 0 auto;
    font-family: Helvetica;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #540B51;
    padding: 16px;
}

.slack-logo {
    max-width: 140px;
}

.page-title {
    color: white;
}

.first-section {
    background-color: #540B51;
}

.subheader-yellow {
    color: yellow;
}

.subheader-white {
    color: white;
}

header {
    background-color: #540B51;
}
.header-right-side button {
    background-color: transparent;
    all: unset;
}

.header-right-side button:hover {
    cursor: pointer;

}


.trusted-by {
    background-color: #F3EAE2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.trusted-by-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-bottom: 24px;
}

.trusted-by-images img {
    height: 50px;
}

.buttons>button>img {
    width: 24px;
    background-color: white;
}

.buttons > button {
    width: 100%;
    height: 46px;
    border-radius: 6px;
}

.google-button {
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #4285F4;
    color: white;
    position: relative;
    border-radius: 4px;
    border-color:#4285F4;
    text-transform: uppercase;
    
}

 .button-email{
    background-color:#ffffff;
    text-transform: uppercase;
    font-weight: bold;
    color: #540B51;
    border-radius: 4px;
    border-color: #ffffff;
    margin-top: 12px;
    
}

.google-button img {
    position: absolute;
    left: 4%;

}

.hero-product {
    width: 100vw;
}

.first-section {
    text-align: center;
    margin: 0 auto;
}

.data {
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 24px;
}

.data >ul >li {
    list-style-type: none;

}

.data > h3 {
    color: #540B51;
    font-size: 40px;
}

.data>p {
    font-weight: 400;
    font-size: 24px;
}

.data>ul>li>p {
    color: #000000;
    font-weight: bold;
}

.data>ul>li>p>span {
    color: #540B51;
    font-size: 40px;
}

.final-cta {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: #540B51;
}

.final-cta>h3 {
    text-align: center;
    color: white;
    font-size: 40px;
}

.button-free {
    background-color: white;
    padding: 24px;
    margin: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #540B51;
    border-radius: 4px;
    border-color: white;
}

.button-sales {

    background-color: #540B51;
    padding: 24px;
    margin: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    border-color: white;
}

.footer-option>li{
    list-style-type: none;
    margin-bottom: 16px;
}

.footer-option{
    font-size: 12px;
    font-weight: bold;
}

.footer-icon>li{
    list-style-type: none;
    padding-top: 12px;
}

.footer-icon{
    font-size: 12px;
    font-weight: bold;
    display: flex;
}

ul > li > i{
   padding-right: 100px;
}



@media (max-width:768px) {

    .header-list {
        display: none;
    }

    .first-section {
        max-width: 295px;
        padding-top: 2cqmax;
    }

    .buttons {
        flex-direction: column;
    }

    .hero-product {
        margin-top: 36px;
    }

    .hero-section {
        flex-direction: column;
    }

}

@media (min-width:768px) and (max-width: 1024px) {

    .header-list {
        display: none;
    }

    .hero-product {
        width: 30vw;

    }

    .first-section {
        width: 400px;
        padding-bottom: 36px;
    }


    .page-title {
        font-size: 68px;

    }

    .first-section {
        text-align: left;
        background-image: url("../images/background-singup.png");
        background-size: cover;
        margin-left: 0px;
        padding-left: 10px;
    }

    .hero-section {
        display: flex;
        align-items: center;
        padding-top: 4px;
    }



}